# !#USE_PLACEHOLDER
VERSION="${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_BUILD}"
SUFFIX="{{SUFFIX}}"
AUTHORS="Mille Bostrom, Maximilian Krüger, Sascha Hering"
TITLE="$(ProjectName)"
COPYRIGHT="Copyright (c) 2021 Mille Bostrom & NoobDevTv"
COMPANY="NoobDevTv"
DESCRIPTION="VaVare is a wrapper around the Roslyn API and used for generation, saving and and compiling C# code. It provides methods and helpers to generate classes, methods, statements and expressions."
NOTES=""
TAGS="Code generation roslyn"
ICON_URL="https://i.ibb.co/nnSPd11/logo128-new.png"
REPO_URL="https://github.com/Testura/Testura.Code"
