AUTHORS="Mille Bostrom, Maximilian Krüger, Sascha Hering"
TITLE="$(ProjectName)"
COPYRIGHT="Copyright (c) 2021 Mille Bostrom, NoobDevTv"
COMPANY="NoobDevTv"
DESCRIPTION="VaVare (a fork of Testura.Code) is a wrapper around the Roslyn API and is used to generate, store and compile C# code. It provides methods and utilities for generating classes, methods, statements and expressions."
NOTES=""
TAGS="Code generation roslyn"
ICON_URL="https://i.ibb.co/nnSPd11/logo128-new.png"
REPO_URL="https://github.com/NoobDevTv/VaVare"
